.u-section-1 .u-sheet-1 {
  min-height: 397px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  margin: 50px 422px 0 476px;
}

.u-section-1 .u-text-2 {
  margin: 50px 604px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-family: Montserrat, sans-serif;
    margin-left: 376px;
    margin-right: 322px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 404px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 266px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 184px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 176px;
    margin-right: 122px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 76px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}